.App {
  text-align: center;
}

.row {
  width: 700px;
  margin: 0 auto;
  display: flex;
}

.node {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #cccccc;
}

.destinationNode {
  background-color: darkorange;
}

.sourceNode {
  background-color: cornflowerblue;
}

.visited {
  background-color: cadetblue;
}

.wall {
  background-color: darkslategrey;
}